<!--The primary webpage, displays user posts-->
<!--Tells Jinja that this template will replace blocks from base.html-->
{% extends 'base.html' %}

<!--Everything within this block will be placed in the header section of the base template-->
<!--Userful pattern: Place the title in the header-->
<!--When the user is logged in, the header block adds a link to the create view, which will be used to create posts-->
{% block header %}
  <h1>{% block title %}{{h_name['name']}} Rooms{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('room.create', h_id=house_id) }}">New</a>
  {% endif %}
{% endblock %}

<!--Replaces the content block of base.hmtl-->
<!--
If the user is an author of the post, then they are given the option to edit it. 
loop.last is used inside Jinja to display a line after each posts, except the last one. 
-->
{% block content %}
  {% for room in rooms %}
    <article class="room">
      <header>
        <div>
          <h1>{{ room['name'] }}</h1>
        </div>
        {% if house_id == room['house_id'] %}
          <a class="action" href="{{ url_for('wall.index', r_id=room['id']) }}">Populate</a>
          <a class="action" href="{{ url_for('room.update', h_id=house_id, r_id=room['id']) }}">Edit</a>
        {% endif %}
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}