<!--Tells Jinja that this template will replace blocks from base.html-->
{% extends 'base.html' %}

<!--Everything within this block will be placed in the header section of the base template-->
<!--Userful pattern: Place the title in the header-->
{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

<!--Replaces the content block of base.hmtl-->
<!--input tags are required, which will prevent the browser from submitting the form until they are filled.
However, data should still be validated in case of a browser that does not support this-->
<!--The content block retrieves the registration information from the user.
This is requested in the authentication.py blueprint-->
{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}